<!DOCTYPE html>
<html>
{% load static %}

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quazzu Cloud Hosting</title>
</head>

<body>
    <!-- Header -->
    <header class="main-header-inner">
        <nav class="transparent">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Quazzu</a>
                    <a href="#" data-activates="mobile-nav" class="button-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'solutions' %}">Solutions</a>
                        </li>
                        <li>
                            <a class="active-link" href="{% url 'signup' %}">Sign Up</a>
                        </li>
                        <li>
                            <a href="#login-modal" class="btn purple modal-trigger">Login</a>
                        </li>
                        <li>
                            <a href="https://facebook.com">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://instagram.com">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="side-nav" id="mobile-nav">
                        <h4 class="purple-text text-darken-4 center">Quazzu</h4>
                        <li>
                            <div class="divider"></div>
                        </li>
                        <li>
                            <a href="{% url 'home' %}">
                                <i class="fa fa-home grey-text text-darken-4"></i> Home</a>
                        </li>
                        <li>
                            <a href="{% url 'solutions' %}">
                                <i class="fa fa-cog grey-text text-darken-4"></i> Solutions</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">
                                <i class="fa fa-users grey-text text-darken-4"></i> Sign Up</a>
                        </li>
                        <li>
                            <div class="divider"></div>
                        </li>
                        <li>
                            <a href="#" class="btn purple">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Showcase -->
        <div class="showcase container">
            <div class="row">
                <div class="col s12 m10 offset-m1 center">
                    <h5>Welcome To Quazzu</h5>
                    <h1>Create An Account</h1>
                </div>
            </div>
        </div>
    </header>
    <!-- Section: Signup -->
    <section class="section section-signup">
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <h4>Get a free account</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus veniam id nisi? Saepe sint ipsum distinctio
                        molestiae, recusandae autem sequi?</p>
                    <h4>Download the free software</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus veniam id nisi? Saepe sint ipsum distinctio
                        molestiae, recusandae autem sequi?</p>
                    <h4>Push to the platform</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus veniam id nisi? Saepe sint ipsum distinctio
                        molestiae, recusandae autem sequi?</p>
                </div>
                <div class="col s12 m6">
                    <div class="card-panel grey lighten-4 grey-text text-darken-4 z-depth-0">
                        <form method="post">{% csrf_token %}
                            <div class="input-field">
                                <input type="text" id="username" name="username">
                                <label for="username">Username</label>
                            </div>
                            <div class="input-field">
                                <input type="text" id="first_name" name="first_name">
                                <label for="first_name">First Name</label>
                            </div>
                            <div class="input-field">
                                <input type="text" id="last_name" name="last_name">
                                <label for="last_name">Last Name</label>
                            </div>
                            <div class="input-field">
                                <input type="email" id="email" name="email">
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field">
                                <input type="password" id="password" name="password">
                                <label for="password">Password</label>
                            </div>
                            <div class="input-field">
                                <input type="password" id="password2" name="password2">
                                <label for="password2">Confirm Password</label>
                            </div>
                            <div class="input-field">
                                <input type="text" id="company" name="company">
                                <label for="company">Company</label>
                            </div>
                            <div class="input-field">
                                <select id="role" name="roles">
                                    <option value="" disabled selected>Select Role</option>
                                    <option value="Professional Developer">Professional Developer</option>
                                    <option value="Hobbyist">Hobbyist</option>
                                    <option value="Student">Student</option>
                                    <option value="Manager">Manager</option>
                                    <option value="Other">Other</option>
                                </select>
                                <label for="role">Role</label>
                            </div>
                            <input type="submit" value="Signup" class="btn btn-large purple btn-extend">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="page-footer deep-purple lighten-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About Us</h5>
                    <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ducimus, hic id quod enim voluptate </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3" href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="{% url 'solutions' %}">Solutions</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="{% url 'signup' %}">Signup</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright deep-purple darken-1">
            <div class="container">
                Quazzu &copy; 2018
                <a class="grey-text text-lighten-4 right" href="#!">Terms & Conditions</a>
            </div>
        </div>
    </footer>
    <!-- Login Modal -->
    <div id="login-modal" class="modal">
        <div class="modal-content">
            <h4>Account Login</h4>
            <p>Login to access your account dashboard</p>
            <form method="POST">{% csrf_token %}
                <div class="input-field">
                    <input type="text" id="username" name="username">
                    <label for="username">Username</label>
                </div>
                <div class="input-field">
                    <input type="password" id="password" name="password2">
                    <label for="password">Password</label>
                </div>
                <input type="submit" value="Login" name="submit" class="btn btn-large btn-extended grey lighten-4 black-text" />
            </form>
        </div>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        <script>
        $(document).ready(function() {
            $('.carousel.carousel-slider').carousel({ fullWidth: true });
            $('.button-collapse').sideNav();
            $('.modal').modal();
            $('select').material_select();
        });
        </script>
</body>

</html>